apiVersion: v1
kind: Service
metadata:
  labels:
    app: admission-webhooks
  name: admission-webhooks
  namespace: admission-webhooks
spec:
  ports:
  - port: 8443
    protocol: TCP
    targetPort: 8443
  selector:
    app: admission-webhooks